$textColor: #111111;
$secondTextColor: #7C7C7C;
$thirdTextColor: #FFFFFF;
$fourthTextColor: #000;
$errorTextColor: #FF2222;
$errorColor: #FF2828;
$backgroundColor: #F2F2F2;
$backgroundFormColor: #F4F5FC;
$sideBackgroundColor: #5A61ED;