@import '../../common/styles/variables';
@import '../../common/styles/mixins';

.container {
	padding: 0 20.8px;
	width: 485px;
	height: 480px;
	background: url('../../assets/images/Background.svg') no-repeat;
	background-position-x: 100%;
	background-position-y: 100%;


	.title {
		margin: 39.5px 0 0 0;
	}

	.second_title {
		margin: 0 0 20px 0;
	}

	.form {
		display: grid;
		grid-template-columns: 1fr 1fr;

		input {
			border: none;
			border-bottom: 0.7px solid $backgroundColor;
			outline: none;
			width: 234.5px;
			@include text('Work Sans', 16px, 14px, 400);
			color: $textColor;
			padding: 0.6px 0 6.3px 0;
			margin: 5px 15px 16px 0;
			box-sizing: border-box;
			background: inherit;

			&:-webkit-autofill {
				-webkit-background-clip: text;
			}
		}

		select {
			border: none;
			border-bottom: 0.7px solid $backgroundColor;
			outline: none;
			@include text('Work Sans', 16px, 14px, 400);
			color: $textColor;
			background: url('../../assets/images/Arrow.svg') no-repeat;
			-webkit-appearance: none;
			background-position-x: 100%;
			background-position-y: 35%;
			padding-bottom: 5.6px;
			margin: 5px 0 16px 0;
		}

		.box {
			display: flex;
			flex-direction: column;
			animation: glowing_box 3000ms linear;
		}
		@keyframes glowing_box {
			0% {
				opacity: 0;
			}
			50% {
				opacity: 0.5;
			}
			100% {
				opacity: 1;
			}
		}

		.valid_email {
			background: url('../../assets/images/Tick.svg') no-repeat;
			background-position-x: 100%;
			background-position-y: 20%;
			padding: 0.6px 0 6.3px 0;
			box-sizing: border-box;
		}

		.error {
			border: none;
			border-bottom: 2px solid $errorColor;
			outline: none;
			width: 234.5px;
			@include text('Work Sans', 16px, 14px, 400);
			color: $errorTextColor;
			padding: 0.6px 0 5px 0;
			margin: 5px 15px 0 0;
		}

		.error_text {
			@include text('Work Sans', 12px, 12px, 400);
			color: $errorTextColor;
			letter-spacing: -0.02em;
			margin-bottom: 4px;
		}

		.select_nationality {
			width: 234.5px;
		}

		.box_date {

			.select_date_day {
				width: 56px;
				margin-right: 9.8px;
			}

			.select_date_month {
				width: 91px;
				margin-right: 9.8px;
			}

			.select_date_year {
				width: 67.67px;
			}
		}

		.box_gender {
			display: flex;
			flex-direction: row;
			margin: 2px 0 0 -19px;


			.box_gender_radio {
				display: flex;
				flex-direction: row;
				@include text('Work Sans', 16px, 14px, 400);


				.input_gender {
					-webkit-appearance: none;
					width: 12px;
					height: 12px;
					border: 0.7px solid $sideBackgroundColor;
					border-radius: 50%;
					outline: none;
					margin: 5px 5px 0 19px;
					padding: 0;

					&:before {
						content: '';
						display: block;
						width: 50%;
						height: 50%;
						margin: 25%;
						border-radius: 50%;
					}

					&:checked:before {
						background: $sideBackgroundColor;
					}
				}

				.gender_span {
					margin-top: 3px;
				}
			}
		}
		.error_password {
			border: none;
			border-bottom: 2px solid $errorColor;
			outline: none;
			width: 234.5px;
			@include text('Work Sans', 21px, 16px, 400);
			letter-spacing: 1px;
			color: $errorTextColor;
			padding: 0.6px 0 0 0;
			margin: 5px 15px 0 0;
		}
		.input_password {
			@include text('Work Sans', 21px, 16px, 400);
			letter-spacing: 1px;
			padding-bottom: 1.3px;
		}


		.login {
			@include text('Work Sans', 15px, 13px, 300);
			color: $fourthTextColor;
			margin-top: 88.5px;

			.link {
				color: $sideBackgroundColor;
			}
		}

		.submit {
			width: 154px;
			height: 32px;
			background-color: $sideBackgroundColor;
			color: $thirdTextColor;
			@include text('PT Sans', 18px, 14px, 400);
			border: none;
			cursor: pointer;
			margin: 81.5px 0 0 81.5px;
			padding: 1px 1px 0 0;
		}

		.error_submit {
			width: 154px;
			height: 32px;
			background-color: $sideBackgroundColor;
			color: $thirdTextColor;
			@include text('PT Sans', 18px, 14px, 400);
			border: none;
			cursor: pointer;
			margin: 81.5px 0 0 81.5px;
			padding: 1px 1px 0 0;
			&:active {animation: 0.1s ease-in-out 0s normal none infinite running trambling-animation;
			animation-iteration-count: 2;}
		}

		@keyframes trambling-animation {
			0%, 50%, 100% {
				transform: rotate(0deg);
			}
			10%, 30% {
				transform: rotate(-10deg);
			}
			20%, 40% {
				transform: rotate(10deg);
			}
		}
		.loading {
			width: 154px;
			height: 32px;
			background-color: $sideBackgroundColor;
			@include text('PT Sans', 18px, 14px, 400);
			border: none;
			cursor: pointer;
			margin: 81.5px 0 0 81.5px;
			padding: 0;
			color: $thirdTextColor;
			background-position-x: 50%;
			background-position-y: 50%;
			animation: glowing 1500ms infinite;
		}

		@keyframes glowing {
			0% {
				background-color: #2f3379;
				color: #7C7C7C
			}
			50% {
				background-color: #606396;
				color: #252323
			}
			100% {
				background-color: $sideBackgroundColor;
				color: $thirdTextColor
			}
		}
	}
}