@import '../../common/styles/variables';
@import '../../common/styles/mixins';
//image arrow '../../assets/images/Arrow.svg';

.container {
	padding: 0 21px;

	width: 485px;
	height: 480px;
	background-color: $thirdTextColor;

	.title {
		margin: 38.5px 0 0 0;
	}

	.second_title {
		margin: 0 0 4px 0;
	}

	.form {
		display: grid;
		grid-template-columns: 1fr 1fr;


		input {
			border: none;
			border-bottom: 0.7px solid $backgroundColor;
			outline: none;
			width: 234.5px;
			@include text('Work Sans',16px, 14px, 400);
			color: $textColor;
			padding: 0 0 6.3px 0;
			margin: 0 15px 0 0;
		}

		select {
			border: none;
			border-bottom: 0.7px solid $backgroundColor;
			outline: none;
			@include text('Work Sans',16px, 14px, 400);
			color: $textColor;
			background: url('../../assets/images/Arrow.svg') no-repeat;
			-webkit-appearance: none;
			background-position-x: 100%;
			background-position-y: 50%;
			padding-bottom: 5.6px;
		}

		.box {

		}

		.select_nationality {
			width: 234.5px;


		}

		.box_date {

			.select_date_day {
				width: 56px;
				margin-right: 9.8px;
			}
			.select_date_month {
				width: 91px;
				margin-right: 9.8px;
			}
			.select_date_year {
				width: 67.67px;
			}
		}

		.box_gender {
			display: flex;
			flex-direction: row;
			margin-left: -19px;

			.box_gender_radio {
				display: flex;
				flex-direction: row;

				.input {
					-webkit-appearance: none;
					width: 12px;
					height: 12px;
					border: 0.7px solid $sideBackgroundColor;
					border-radius: 50%;
					outline: none;
					margin: 5px 6px 0 19px;
					padding: 0;

					&:before {
						content: '';
						display: block;
						width: 50%;
						height: 50%;
						margin: 25%;
						border-radius: 50%;
					}

					&:checked:before {
						background: $sideBackgroundColor;
					}
				}
			}
		}

		.login {
			@include text('Work Sans',15px, 13px, 400);
			color: $fourthTextColor;
			margin-top: 109.5px;

			.link {
				color: $sideBackgroundColor;
			}
		}

		.submit {
			width: 154px;
			height: 32px;
			background-color: $sideBackgroundColor;
			color: $thirdTextColor;
			@include text('PT Sans',18px, 14px, 400);
			border: none;
			cursor: pointer;
			margin: 98.5px 0 0 80.5px;
			padding: 0;
		}
	}
}